<h1>Create A New Account</h1>

<%= form_for :user, url: '/users/new', :html => {:class => 'new-user-form'} do |f| %>
	Username: <%= f.text_field :username %><br>
	Email: <%= f.text_field :email %><br>
	Password: <%= f.password_field :password %><br>
	<%= f.submit "Submit" %>
<% end %>